body {
	margin: 0;
	padding: 0;
	font-size: 14px;
	font-family: Arial, Helvetica, sans-serif;
	background-color: #212324;
	color: #FFFFF;
}

a {
	color: #FFFFFF;
	text-decoration: none;
}

header nav {
	display: flex;
	justify-content: flex-end;
	height: inherit;
}

header nav .nav-right-section {
	list-style: none;
	width: 250px;
	display: flex;
	justify-content: space-between;
	margin-right: 20px;
}

header {
	width: 100%;
	height: 63px;
}

nav .nav-right-section {

}

nav .nav-right-section .menu-icono {
	background-image: url("../img/dots-menu.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	width: 30px;
	height: 30px;
}

nav .nav-right-section .foto-icono {
	background-image: url("../img/user.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	border-radius: 50%;
	width: 30px;
	height: 30px;
}

main {
	margin: 100px;
	text-align: center;
}

main .main-logo {
	width: 530px;
	margin: 0 auto;
	margin-bottom: 10px;
}

main .main-logo img {
	width: 270px;
}

main .main-input {
	width:  530px;
	margin: 0 auto;
}

main .main-input-container {
	width: 530px;
	border: 1px solid #FFFFFF;
	border-radius: 30px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

main .main-input-container img {
	width: 25px;
	height: 25px;
	object-fit: contain;
}

main .main-input-container input {
	width: 75%;
	height: 40px;
	border: none;
	background: transparent;
	outline: none;
	color: white;
}

.main-input-container:hover {
	background-color: #303134;
	border: 1px solid #303134;
	box-shadow: 0px 0px 10px 0px rbga(0, 0, 0, 1);
}

main .main-buttons {
	width: 530px;
	padding-top:  20px;
	margin: 0 auto;
}

main .main-buttons div {

}

.main-buttons button {
	background-color: #303134;
	color: white;
	padding: 10px;
	border-radius: 5px;
	border: none;
}

.main-buttons button:hover {
	border: solid 2px gray;
}

footer {
	background-color: black;
	position: absolute;
	width: 100%;
	bottom: 0%;
}

footer .footer-region {
	padding: 15px 60px;
}


footer .footer-right-left {
	padding: 0 10px 0 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

footer ul {
	list-style: none;
	display: flex;
}